.comment-list {
  padding: 0;
  padding-bottom: 1rem;
}

.comment-list li {
  padding: 1rem;

  background-color: #e5e5e5;
  border-radius: 10px;

  list-style: none;
}

.comment-list li:not(:last-child) {
  margin-bottom: 2rem;
}

.comment-list div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-list .comment_user {
  font-size: 18px;
  font-weight: bold;
}